{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": [2, "never"],
    "eol-last": 2,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "no-console": 0,
    "no-multiple-empty-lines": 2,
    "no-unused-vars": 2,
    "no-var": 2,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "never"],
    "strict": 0,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef": 2
  }
}
